<div class="notification-bell" (click)="toggleNotifications()">
  <mat-icon>notifications</mat-icon>
  <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
</div>

<div *ngIf="isOpen" class="notification-dropdown">
  <h4>Уведомления</h4>
  <div *ngFor="let notification of notifications" class="notification-item" [class.unread]="!notification.is_read">
    <p>{{ notification.message }}</p>
    <button mat-button (click)="markAsRead(notification.id)">Пометить как прочитанное</button>
  </div>
</div>
